version: '3'

services:
  shadowsocks:
    image: teddysun/shadowsocks-libev
    container_name: shadowsocks
    restart: always
    ports:
      - "1080:1080/tcp"       # SOCKS5 proxy port
      - "8388:8388/tcp"       # Encrypted Shadowsocks port
    environment:
      - METHOD=aes-256-gcm    # Secure encryption method
      - PASSWORD=yourStrongPasswordHere
      - TIMEOUT=300
      - SERVER_ADDR=0.0.0.0   # Listen on all IPs (set to the public/private IP if preferred)
    command: ss-server -s 0.0.0.0 -p 8388 -k ${PASSWORD} -m ${METHOD} --fast-open
